@import url(./style.css);

/* theme */
:root{ /*selector root = racine avec les variables*/ 
    --bgcolor:rgba(0, 98, 102,1.0);
    --colortext:#fff;
    --colorborder:#000000;
    --bgcolcentre:rgb(222, 221, 219);
    --linkcolor:blue; 
    --borderradius: .4rem;
    --subbtitle:uppercase;
}

header > h1,h2{

    color: #ffffff;
    font-weight: normal;
    line-height: 6.5rem; /*65px */
    text-align: center;
    font-size: 4.5;

}

section{
    max-width: 90rem;
    margin: 5rem auto;
    border: solid 0.5rem #333;
    padding: 1rem;
    background-color: #ffffff;
}
section img {
    width: 100%;
}

footer *{
    text-align: center;
    color: #ffffff;
}
section a{
    text-decoration: underline;
}