@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url(./style.css);

/* theme */
:root{ /*selector root = racine avec les variables*/ 
    --bgcolor:darkcyan;
    --colortext:#fff;
    --colorborder:#000000;
    --bgcolcentre:rgb(222, 221, 219);
    --linkcolor:blue; 
    --borderradius: .4rem;
    --subbtitle:uppercase;
}

header > h1,h2{

    color: white;
    background-color: var(--bgcolor);
    font-weight: normal;
    line-height: 6.5rem; /*65px */
    text-align: center;
    font-size: 4.5;
    font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;

}

section{
    max-width: 90rem;
    margin: 5rem auto;
    border: solid 0.5rem #333;
    padding: 1rem;
    background-color: #ffffff;
}
section img {
    width: 100%;
}

footer *{
    text-align: center;
    color: #ffffff;
}
section a{
    text-decoration: underline;

}
a:hover{
    background-color: #000000;
    cursor: pointer;
}
.btns-default{
    display: inline-block;
    width: max-content;
    background-color: var(--btn-default-color) ;
    line-height: 2rem;
    padding: .3rem 1rem;
    border-radius: var(--borderradius);
}


.btn-option-success{
    background-color: var(--bgcolor) ;
    color: var(--colortext);
    cursor: pointer;
}

.btn-option-warning{
    background-color:var(--bgcolor);
    color: var(--colortext);
}